# Ignore node stuff
node_modules/
package-lock.json
yarn-error.log

# Ignore build stuff
artifacts/
cache/
coverage/
coverage.json
build/
dist/
slither.json

# Buidler cache
cached/

# Ignore solc bin output
bin/

# Others
.env
.DS_Store
.vscode
.venv
eggs/
.eggs/
*.egg-info/


# Reports
/reports
